version: '3.8'

services:
  # Dagster User Code (Chứa logic pipeline của bạn)
  user_code:
    build: .
    image: dagster-user-code:latest
    container_name: dagster-user-code
    restart: always
    environment:
      - VICTORIAMETRICS_URL=http://victoriametrics:8428
    ports:
      - "3030:3030"
    volumes:
      - ./data:/app/data

  # VictoriaMetrics (Để lưu trữ time-series data)
  victoriametrics:
    image: victoriametrics/victoria-metrics:latest
    container_name: victoriametrics
    restart: always
    ports:
      - "8428:8428"
      - "2003:2003"
      - "4242:4242"
    volumes:
      - vmdata:/storage
    command:
      - "-storageDataPath=/storage"
      - "-retentionPeriod=1y"

volumes:
  vmdata:

