version: '3.8'

services:
  victoriametrics:
    image: victoriametrics/victoria-metrics:latest
    container_name: victoriametrics-dagster
    ports:
      - "18428:8428"
    restart: "no"
    volumes:
      - victoriametrics-data-dagster:/victoria-metrics-data
    command:
      - "--storageDataPath=/victoria-metrics-data"
      - "--httpListenAddr=:8428"
    networks:
      - dagster-network

  dagster:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: dagster-vic
    ports:
      - "3000:3000"
    volumes:
      - .:/app:Z
      - ../data:/app/data:Z
      - dagster-data:/app/.dagster:Z
    environment:
      - VICTORIAMETRICS_URL=http://victoriametrics-dagster:8428
      - VM_EXTERNAL_URL=http://localhost:18428
    depends_on:
      - victoriametrics
    restart: "no"
    networks:
      - dagster-network

volumes:
  victoriametrics-data-dagster:
  dagster-data:

networks:
  dagster-network:
    driver: bridge

